[class~="resume-unordered-lists"]{
    font-style: italic;
}

#education {
    font-family: Georgia;
}

ul, ol {
    font-weight: bold;
}

section p {
    font-size: large;
}

nav > ul {
    list-style: circle;
}

a:visited{
    color: blueviolet;
}

input:focus, select:focus{
    outline: 2px solid black;
}

section:not(#contactme){
    color: darkblue;
}

h1::first-letter{
    color: tomato;
}

:is(ul.resume-list, ol) li {
    outline: solid red 1px;
}

#contactme fieldset{
    border-style: double;
    width: 515px;
    height: 175px;
        
}